<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"
               shutdownHook="disable">
    <Properties>
        <!-- Uses ISO8601 time format -->
        <Property name="time">yyyy-MM-dd'T'HH:mm:ss.SSSZ</Property>
        <Property name="pattern">%d{${time}} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
